#page{
    position: relative;
    display: flex;
    /* background-color: black; */
}
.page p{
    position: absolute;
    background-color: black;
    color: white;
    padding: 15px 15px;

}
.page p:hover{
    position: absolute;
    background-color: black;
    color: white;
    padding: 15px 15px;
    bottom: 50px;
    display: flex; 
    transition: 0.5s;

}

/* -----------------------------header-------------------------- */
/* --------------------------------Contain1---------------------- */
.contain1{
    width: 75%;
    height: 80px;
    /* background-color: red; */
    margin: 0 auto;
    align-items: center;
    display: flex;
}
.contain1 ul{
    display: flex;
    list-style-type: none;
    
}
.contain1 ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.contain1 ul li{
    padding-left: 10px;
}
/* -----------------------------------contain1------------------------- */

/* -------------------------------------contain2--------------------------- */
.contain2{
    margin-bottom: 40px;

}
.contain2 .lam .lam1 .box-text{
    background-color: rgb(45, 155, 37);
    width: 100%;
    height: 100%;
}

/* --------------------------------------contain2^^------------------------- */
/* --------------------------------------contain3======================== */
.contain3 .lam .lam1 .box-text{
    background-color: rgb(169, 107, 21);
    width: 100%;
    height: 100%;
}

/* --------------------------------------contain3------------------------- */

/* --------------------------------------contain4------------------------ */
.contain4{
    margin-top: 40px;
}

.contain4 .lam .lam1 .box-text{
    background-color: rgb(169, 107, 21);
    width: 100%;
    height: 100%;
}
/* --------------------------------------contain4------------------------ */

/* ---------------------------------------contain5----------------------- */

.contain5{
    width: 75%;
    height: 50px;
    /* background-color: aqua; */
    margin: 0 auto;
    margin-bottom: 50px;
    
}
.contain5 .num{
    width: 30%;
    height: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    margin-left: 50%;
    padding-left: 75px;
    align-items: center;
}
.contain5 .num .num1{
    margin-left: 8px;
    background-color: rgb(229, 227, 227);
    padding: 10px 15px;
    border-radius: 50%;
    
}
.contain5 .num .num1 a{
    text-decoration: none;
  
}
/* ---------------------------------------contain5------------------------ */

/* ---------------------------------------contain6------------------------ */


/* ---------------------------------------contain6^^------------------------- */


